/* main styles */



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}



/* header */



header {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
}

.header-right-items {
    width: 220px;
    display: flex;
    justify-content: space-around;
}

.header-right-items form {
    position: relative;
    z-index: 10;
}
.header-right-items input {
    font-size: 0.6rem;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 25px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.header-right-items form img {
    position: absolute;
    top: 2px;
    left: 1px;
}

.header-right-items a {
    padding-top: 2px;
}



/* header - main menu */



.main-menu-container{
    width: 220px;
    position: relative;
}
.main-menu-container ul {
    padding: 0px;
}

.main-menu-selector {
    display: flex;
    justify-content: left;
    font-size: 0.7rem;
    padding: 0rem 0.5rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0px;
}

.main-menu-selector li:first-child {
    padding-right: 6px;
    border-right: 1px solid darkgray;
}

.main-menu-selector li:last-child {
    padding-left: 6px;
}

.main-menu-list {
    position: absolute;
    top: 150%;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

.main-menu-list li {
    font-size: 1.1rem;
    padding: 0.3rem 0rem;
}



/* main content styles */

main {
    font-size: 0.8rem;
    padding-inline: 20px;
}
.column-3 {
    width: 300px;
}

.main-page-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.main-page-header nav ul {
    display: flex;
    justify-content: center;
}

.breadcrumbs li a {
    color: darkgray;
}
.breadcrumbs li:last-child a {
    color: black    ;
}

.breadcrumbs li+li:before {
    color: darkgray;
    content: ">";
    padding-inline: 6px;
}

.main-page-options {
    font-size: 0.7rem;
    display: flex;
    justify-content:right;
    align-items: center;
}

.main-page-options div {
    display: flex;
    justify-content: right;
    align-items: center;
}

.main-page-options div h4 {
    font-size: 0.6rem;
    padding-right: 6px;
}

.main-page-options div button {
    border: none;
    background-color: transparent;
    font-size: 0.6rem;
    padding-inline: 6px;
}

.main-page-options div:first-child {
    border-right: 1px solid darkgray;
}

.main-page-options div:last-child {
    border-left: 1px solid darkgray;
}


/* product gallery */

.product-gallery-wrapper {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
}

.product-gallery {
    justify-content:left;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* .product-gallery--grid {} */

.product {
    width: calc(25% - 15px);
    padding: 10px 0px;
}

.product-image-wrapper {
    position: relative;
}

.product-image-new-lable {
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
    padding: 3px 7px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 7px;
}

.product-image {
    width: 100%;
}

.product-name {
    text-align: center;
    font-size: 0.7rem;
    padding-top: 5px;
}

.product-price {
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
    padding-top: 5px;
}

/* newsletter */

.newsletter {
    border-top: 1px solid whitesmoke;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid whitesmoke;
}

.newsletter h2 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.newsletter h3 {
    text-align: center;
    font-size: 1.4rem;
    padding-top: 5px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form input {
    width: 500px;
    text-align: center;
    font-size: 0.7rem;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* contacts */

.section-contacts h3 {
    padding-top: 25px;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
}

.contacts ul {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts ul li {
    font-size: 0.7rem;
    padding-inline: 10px;
}

.contacts ul li:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.contacts ul li:first-child a img {
    padding-right: 5px;
}
.contacts ul li:first-child a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contacts p {
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 0.7rem;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}

    /* footer */

.footer {
    font-size: 0.7rem;
    padding-top: 80px;
    padding-inline: 0px;
}

/* footer upper */

.footer-upper {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.footer-upper div h4 {
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 25px;
}

.footer-upper div ul li {
    padding-block: 5px;
}

.footer-social-list ul li a {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
.footer-social-list ul li a div {
    padding: 0px 3px;
}
    
.footer-payment-list ul li a {
        display: flex;
        align-items: center;
} 
.footer-payment-list ul li a div {
        padding: 0px 3px;
}


/* footer bottom */


.footer-bottom {
    border-top: 1px solid whitesmoke;
}

.footer-bottom ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-bottom ul li {
    width: 25%;
    text-align: center;
    padding-block: 20px;
}


.footer-bottom ul li:last-child {
    border-left: 1px solid whitesmoke;
}

.footer-bottom ul li:first-child {
    border-right: 1px solid whitesmoke;
}